<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetPnsServlet</servlet-name>
        <servlet-class>servlets.GetPnsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Isi4FaktorServlet</servlet-name>
        <servlet-class>servlets.Isi4FaktorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalinDataUtamaServlet</servlet-name>
        <servlet-class>servlets.SalinDataUtamaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportIsi4FaktorCommand</servlet-name>
        <servlet-class>model.ReportIsi4FaktorCommand</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportIsi4FaktorServlet</servlet-name>
        <servlet-class>servlets.ReportIsi4FaktorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cetakIsi4FaktorServlet</servlet-name>
        <servlet-class>servlets.cetakIsi4FaktorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>tupoksiServlet</servlet-name>
        <servlet-class>servlets.tupoksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isiTupoksiServlet</servlet-name>
        <servlet-class>servlets.IsiTupoksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>referensiInstansiServlet</servlet-name>
        <servlet-class>servlets.referensiInstansiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>operatorTupoksi</servlet-name>
        <servlet-class>servlets.operatorTupoksiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>referensiUnorServlet</servlet-name>
        <servlet-class>servlets.referensiUnorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginPassServlet</servlet-name>
        <servlet-class>servlets.LoginPassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isiPerilakuServlet</servlet-name>
        <servlet-class>servlets.IsiPerilakuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>administratorFunctionServlet</servlet-name>
        <servlet-class>servlets.AdministratorFunctionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>keberatanServlet</servlet-name>
        <servlet-class>servlets.keberatanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profilePnsServlet</servlet-name>
        <servlet-class>servlets.ProfilePnsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SimpanatasanBawahanRiwayatServlet</servlet-name>
        <servlet-class>servlets.SimpanatasanBawahanRiwayatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>servlets.RequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NavigasiProfile</servlet-name>
        <servlet-class>servlets.NavigasiProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RevisiServlet</servlet-name>
        <servlet-class>servlets.RevisiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RekapitulasiTarget</servlet-name>
        <servlet-class>servlets.RekapitulasiTarget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdministratorKewenangan</servlet-name>
        <servlet-class>servlets.AdministratorKewenangan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPnsServlet</servlet-name>
        <url-pattern>/GetPnsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Isi4FaktorServlet</servlet-name>
        <url-pattern>/Isi4FaktorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportIsi4FaktorCommand</servlet-name>
        <url-pattern>/ReportIsi4FaktorCommand</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportIsi4FaktorServlet</servlet-name>
        <url-pattern>/ReportIsi4FaktorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cetakIsi4FaktorServlet</servlet-name>
        <url-pattern>/cetakIsi4FaktorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>tupoksiServlet</servlet-name>
        <url-pattern>/tupoksiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isiTupoksiServlet</servlet-name>
        <url-pattern>/isiTupoksiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>referensiInstansiServlet</servlet-name>
        <url-pattern>/referensiInstansiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>operatorTupoksi</servlet-name>
        <url-pattern>/operatorTupoksi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>referensiUnorServlet</servlet-name>
        <url-pattern>/referensiUnorServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginPassServlet</servlet-name>
        <url-pattern>/loginPassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isiPerilakuServlet</servlet-name>
        <url-pattern>/isiPerilakuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>administratorFunctionServlet</servlet-name>
        <url-pattern>/administratorFunctionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>keberatanServlet</servlet-name>
        <url-pattern>/keberatanServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>profilePnsServlet</servlet-name>
        <url-pattern>/profilePnsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalinDataUtamaServlet</servlet-name>
        <url-pattern>/SalinDataUtamaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SimpanatasanBawahanRiwayatServlet</servlet-name>
        <url-pattern>/SimpanatasanBawahanRiwayatServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/RequestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NavigasiProfile</servlet-name>
        <url-pattern>/NavigasiProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RevisiServlet</servlet-name>
        <url-pattern>/RevisiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RekapitulasiTarget</servlet-name>
        <url-pattern>/RekapitulasiTarget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdministratorKewenangan</servlet-name>
        <url-pattern>/AdministratorKewenangan</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/WEB-INF/jsp/indexloginBaru.jsp</welcome-file>
    </welcome-file-list>
</web-app>
